@import "tailwindcss";
@import "./colours.css";

/* Light Theme (default) */
:root {

  /*Text Colours*/
  --text-primary: var(--colour-text-light);
  --text-secondary: color-mix(in oklab, var(--colour-text-light) 70%);
  --text-accent: var(--colour-accent-light);
  --text-link: var(--colour-accent-light);
  --text-border: var(--colour-border-light);
  --text-placeholder: color-mix(in oklab, var(--colour-text-light) 50%, var(--colour-background-light)); 

  /*Background Colours*/
  --background-primary: var(--colour-background-light);
  --background-secondary: color-mix(in oklab, var(--colour-background-light) 80%);
  --background-accent: var(--colour-accent-light);  
  --background-border: var(--colour-border-light);
  --background-hover: color-mix(in oklab, var(--colour-accent-light) 90%, var(--colour-background-light)); 

  /*Top Navigation Colours Light*/
  --topnav-background: var(--colour-background-light);
  --topnav-text: var(--text-primary);

  /*Card Components */
  --card-background: var(--colour-background-light);
  --card-border: var(--colour-border-light);
  --card-shadow: var(--shadow-base);

  /*Input Components */
  --input-background: var(--colour-background-light);
  --input-border: var(--colour-border-light);
  --input-text: var(--text-primary);
  --input-placeholder: var(--text-placeholder);

}


html.light {
  /*Text Colours*/
  --text-primary: var(--colour-text-light);
  --text-secondary: color-mix(in oklab, var(--colour-text-light) 70%);
  --text-accent: var(--colour-accent-light);
  --text-link: var(--colour-accent-light);
  --text-border: var(--colour-border-light);
  --text-placeholder: color-mix(in oklab, var(--colour-text-light) 50%, var(--colour-background-light)); 

  /*Background Colours*/
  --background-primary: var(--colour-background-light);
  --background-secondary: color-mix(in oklab, var(--colour-background-light) 80%);
  --background-accent: var(--colour-accent-light);  
  --background-border: var(--colour-border-light);
  --background-hover: color-mix(in oklab, var(--colour-accent-light) 90%, var(--colour-background-light)); 

  /*Top Navigation Colours Light*/
  --topnav-background: var(--colour-background-light);
  --topnav-text: var(--text-primary);
  

  /*Card Components */
  --card-background: var(--colour-background-light);
  --card-border: var(--colour-border-light);
  --card-shadow: rgba(0, 0, 0, 0.1);

  /*Input Components */
  --input-background: var(--colour-background-light);
  --input-border: var(--colour-border-light);
  --input-text: var(--text-primary);
  --input-placeholder: var(--text-placeholder);
}  
