/* Component: AboutSection */
.c-about {
	padding: 4rem 0;
	background: var(--colour-bg);
    width: 100%;
}

.c-about-title {
	color: var(--colour-primary);
	font-weight: 600;
}
.c-about-text {
	color: var(--colour-fg);
	margin-top: 1rem;
}
.c-about-muted {
	color: var(--colour-fg-muted);
	margin-top: 0.75rem;
}

.c-about-image {
    /* Profile image fix this */
	
}
