@import "../../styles/tokens.css";

.headline-banner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-self: flex-end;
	justify-content: space-between;
	opacity: 0;
	filter: blur(4px);
	animation: fadeInRight 1s ease forwards;
	animation-delay: 1s;
	overflow-x: hidden;
	align-items: center;
	height: 42px;
	max-width: calc-size(1025px - 30px, size / 2);
	min-width: calc-size(300px + 1rem, size / 2);
	width: 100%;
}

.headline-banner-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	animation: kc-marquee 24s linear infinite;
	mask-image: linear-gradient(
		to right,
		transparent 0,
		#000 32px,
		#000 calc(100% - 32px),
		transparent 100%
	);
	gap: 16px;
	height: max-content;
}

.headline-pill {
	border-radius: 9999px;
	padding-inline: 14px;
	height: 32px;
	font-weight: 400;
	display: flex;
	align-items: center;
	box-shadow: var(--shadow-md);
	color: var(--colour-fg);
	background-color: var(--colour-bg);
	border: 1px solid var(--colour-border);
	min-width: max-content;
}

/* Animations */
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		filter: blur(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
		filter: blur(0);
	}
}

@media (max-width: 768px) {
	.headline-banner {
		width: calc(100% - 20px);
		height: 32px;
	}

	.headline-banner-content {
		gap: 8px;
		padding-top: 4px;
	}

	.headline-pill {
		padding-inline: 12px;
		height: 28px;
	}
}
