@import "tailwindcss";
@import "./styles/typography.css";
@import "./styles/colours.css";
@import "./styles/semantic-tokens.css";
@import "./styles/typewriter.css";

html {
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-family-body);
}
