@import "tailwindcss";
@import "./styles/typography.css";
@import "./styles/colours.css";
@import "./styles/semantic-tokens.css";
@import "./styles/typewriter.css";

body {
  font-size: var(--body-size-default);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
