/* Component: SkillSection */
.c-skill {
	padding: 4rem 0;
	background: var(--colour-bg);
}

.c-skill-title {
	text-align: center;
	color: var(--colour-primary);
	font-weight: 600;
}

.c-skill-grid {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}
@media (min-width: 768px) {
	.c-skill-grid {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
