@import "tailwindcss";

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-theme-toggle {  
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s;
  background: transparent;
  border: none;
}

.header-mobile-menu-button {
  display: none;
}
.header-mobile-menu {
  display: none;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.header-logo-image {
  height: 32px;
  width: auto;
}

