@import "tailwindcss";

.header-container {
display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 72px;
		position: sticky;
		top: 0;
		background: var(--navbar-background);
		border-bottom: 1px solid var(--navbar-border);
		box-shadow: var(--shadow-sm);
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
flex: 1 0 0;
}

.header-navigation{
  display: flex;
  gap: 1.5rem;
}

.header-theme-toggle {
  cursor: pointer;
}

.header-mobile-menu-button {
  display: none;
}

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-colour);
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navigation-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}


.navigation-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-flex-container{
  display: flex;
  gap: 2rem;
}

.navigation-logo {
  display: flex;
  align-items: center;
}

.navigation-logo-image {
  height: 42px;
  width: 42px;
  border-radius: 0.375rem;
  object-fit: cover;

}

.desktopNavigation {
  display: flex;
  gap: 1.5rem;
}

.navButton {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s;
}

.navButtonActive {
  background-color: var(--text-primary);
  color: var(--button-text-colour);
}

.navButtonInactive {
  color: var(--text-accent);
  background-color: transparent;
}

.navigation-mobile-menu-button {
  display: none;
}

.navigation-mobile-menu {
  display: none;
}

.navigation-mobile-menu-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigation-mobile-toggle {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s;
  
}

.navigation-mobile-active {
  display: block;
}

.navigation-mobile-inactive {
  display: none;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-primary);
  z-index: 1001;
}

.mobile-menu-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
}

.mobile-menu-menu-close {

  display: flex;
  justify-content: flex-end;
}

.mobile-menu-nav {

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mobile-menu-link {

  cursor: pointer;
}
