.navigation-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--background-colour);
	z-index: 1000;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.navigation-content {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 1.5rem;
}

.navigation-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-flex-container {
	display: flex;
	gap: 2rem;
}

.navigation-logo {
	display: flex;
	align-items: center;
}

.navigation-logo-image {
	height: 42px;
	width: 42px;
	border-radius: 0.375rem;
	object-fit: cover;
}

.desktopNavigation {
	display: flex;
	gap: 1.5rem;
}

.navButton {
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	transition: background-color 0.3s, color 0.3s;
	background: transparent;
	border: none;
}

.navButtonActive {
	background-color: var(--text-primary);
	color: var(--button-text-colour);
}

.navButtonInactive {
	color: var(--text-accent);
	background-color: transparent;
}

.navIndicator {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 999px;
	margin-left: 0.5rem;
}

.navIndicatorActive {
	background: var(--colour-primary);
}

.navIndicatorInactive {
	background: transparent;
}

.navigation-mobile-menu-button {
	display: none;
}

.navigation-mobile-menu {
	display: none;
}

.navigation-mobile-menu-items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.navigation-mobile-toggle {
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 0.375rem;
	transition: background-color 0.3s, color 0.3s;
	background: transparent;
	border: none;
	text-align: left;
}

.navigation-mobile-active {
	display: block;
}

.navigation-mobile-inactive {
	display: none;
}